@media (max-width: 750px) {
  .MainBodyContainer .home {
    flex-direction: column;
  }
    #moblieNavUl {
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    #PCNavUl {
      display: none;
    }
    .containerAboutSkill, .contactUs{
      display: flex;
      flex-direction: column;
    }
    .aboutMe {
      flex-direction: column; 
    }
    .aboutMe img{
      width: 100%;
      height: 250px;
      /* background-color: red; */
      z-index: 0;
    }
    .aboutMe .myInf {
       display: flex;
       align-items: center;
       gap: 10px;
    }
    .skill{
      width: auto;
    }
    .skillSection{
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
    }
.contactUs .addressEmailPh .AEPSection {
  flex-direction: row;
  text-align: start;
  text-wrap: wrap;
  font-size: 1em;
}

  }
  
@media (max-width: 750px) {

  .project-card {
   flex: 1 1 100%;
   }


  .project-slider h1 {
    font-size: 2rem;
  }

  .project-card h2 {
    font-size: 1.25rem;
  }

  .project-card p {
    font-size: 0.95rem;
  }
}


@media (max-width: 1200px)  {

   .aboutMe {
      flex-direction: column;
    }
    .aboutMe img{
      width: 100%;
      height: 250px;
      /* background-color: red; */
      z-index: 0;
    }
    .aboutMe .myInf {
       display: flex;
       align-items: center;
       gap: 10px;
    }
}